.mediaViewInfo {
	--web-view-name: Name und Passwort ändern – 1;
	--web-view-id: Name_und_Passwort_ndern__1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-add-image-compare: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}


/* Dropdown */



.dropdownbtn{
	background-color:rgba(28,28,28,1);
	color: rgba(230,230,230,1);
	cursor: pointers;
	position: absolute;
	width: 274px;
	height: 56px;
	left: 0px;
	top: 0px;
	border-style: solid;
	border: 5px;
	border-color: rgba(216,216,216,1);
	border-radius: 1px;
}



.dropdown {
background-color:rgba(28,28,28,1);
border: 5px;
border-color: rgba(216,216,216,1);
border-radius: 1px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }

.dropdown-content a:hover {
	  opacity: 1,8;
	}

.dropdown:hover .dropdown-content {
		display: block;
	  }


.Benutzername_Class {
		white-space: nowrap;
		text-align: center;
		font-family: Coco Gothic;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(230,230,230,1);
	}


:root {
	--web-view-ids: Name_und_Passwort_ndern__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Name_und_Passwort_ndern__1_Class {
	position: absolute;
	width: 428px;
	height: 926px;
	background-color: rgba(28,28,28,1);
	overflow: hidden;
	--web-view-name: Name und Passwort ändern – 1;
	--web-view-id: Name_und_Passwort_ndern__1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-add-image-compare: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Icon_awesome-arrow-alt-circle-_Class {
	position: absolute;
	width: 34.875px;
	height: 34.875px;
	left: 20px;
	top: 20px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Create_or_View_Map;
	cursor: pointer;
}
.Icon_awesome-arrow-alt-circle-__Class {
	fill: rgba(132,132,132,1);
}
.Icon_awesome-arrow-alt-circle-_ {
	overflow: visible;
	position: absolute;
	width: 34.875px;
	height: 34.875px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Create_or_View_Map;
	cursor: pointer;
}
.Icon_ionic-ios-arrow-down_Class {
	fill: rgba(230,230,230,1);
}
.Icon_ionic-ios-arrow-down {
	overflow: visible;
	position: absolute;
	width: 23.616px;
	height: 13.503px;
	left: 315.384px;
	top: 637.249px;
	transform: matrix(1,0,0,1,0,0);
}
.Rechteck_1_Class {
	fill: rgba(28,28,28,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_1 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 201px;
	left: 123px;
	top: 54px;
}
.Icon_awesome-user-alt_Class {
	fill: rgba(132,132,132,1);
}
.Icon_awesome-user-alt {
	overflow: visible;
	position: absolute;
	width: 81.972px;
	height: 86.256px;
	left: 173.014px;
	top: 101.872px;
	transform: matrix(1,0,0,1,0,0);
}
.Rechteck_3_Class {
	fill: rgba(28,28,28,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_3 {
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 56px;
	left: 77px;
	top: 710.751px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Account_wurde_gelscht__1;
	cursor: pointer;
}
.Account_lschen_Class {
	left: 137px;
	top: 726.751px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: center;
	font-family: Coco Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(230,230,230,1);
}
.Rechteck_3_bf_Class {
	fill: rgba(28,28,28,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_3_bf {
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 56px;
	left: 77px;
	top: 519.751px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: E-Mail_ndern;
	cursor: pointer;
}
.E-Mail_Class {
	left: 181px;
	top: 535.751px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: center;
	font-family: Coco Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(230,230,230,1);
}
.Icon_ionic-ios-arrow-down_bh_Class {
	fill: rgba(230,230,230,1);
}
.Icon_ionic-ios-arrow-down_bh {
	overflow: visible;
	position: absolute;
	width: 23.616px;
	height: 13.503px;
	transform: matrix(1,0,0,1,315.3837,542) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Rechteck_3_bi_Class {
	fill: rgba(28,28,28,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_3_bi {
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 56px;
	left: 77px;
	top: 615px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Lieblingsinstrument_ndern;
	cursor: pointer;
}
.Lieblingsinstrument_Class {
	left: 124px;
	top: 631px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: center;
	font-family: Coco Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(230,230,230,1);
}
.Icon_ionic-ios-arrow-down_bk_Class {
	fill: rgba(230,230,230,1);
}
.Icon_ionic-ios-arrow-down_bk {
	overflow: visible;
	position: absolute;
	width: 23.616px;
	height: 13.503px;
	transform: matrix(1,0,0,1,315.3837,637.2485) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Komponente_47__1_Class {
	position: absolute;
	width: 274px;
	height: 56px;
	left: 77px;
	top: 330px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Name_ndern;
	cursor: pointer;
}






.Icon_ionic-ios-arrow-down_bo_Class {
	fill: rgba(230,230,230,1);
}
.Icon_ionic-ios-arrow-down_bo {
	overflow: visible;
	position: absolute;
	width: 23.616px;
	height: 13.503px;
	transform: matrix(1,0,0,1,315.3836,352.2485) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Rechteck_3_bp_Class {
	fill: rgba(28,28,28,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_3_bp {
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 56px;
	left: 77px;
	top: 425px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Passwort_ndern;
	cursor: pointer;
}
.Passwort_Class {
	left: 173px;
	top: 441px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Coco Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(230,230,230,1);
}
.Icon_ionic-ios-arrow-down_br_Class {
	fill: rgba(230,230,230,1);
}
.Icon_ionic-ios-arrow-down_br {
	overflow: visible;
	position: absolute;
	width: 23.616px;
	height: 13.503px;
	transform: matrix(1,0,0,1,315.3837,447.2485) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
@keyframes fadein {

	0% {
		opacity: 1;
	}
	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Name_und_Passwort_ndern__1_snapshot_Class {
	animation: fadein 5s linear 0s infinite;
	pointer-events: none;
	position: absolute;
	width: 428px;
	height: 926px;
	left: 0;
	top: 0;
}