html {
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 580px;
    font-family: 'Didact Gothic', sans-serif;
}

h2, h3 {
text-align: center;
}

img {

    width: 100%;

}
