.mediaViewInfo {
	--web-view-name: Profil – 2;
	--web-view-id: Profil__2;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-add-image-compare: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Profil__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Profil__2_Class {
	position: absolute;
	width: 428px;
	height: 926px;
	background-color: rgba(28,28,28,1);
	overflow: hidden;
	--web-view-name: Profil – 2;
	--web-view-id: Profil__2;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-add-image-compare: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Rechteck_1_Class {
	fill: rgba(28,28,28,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_1 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 201px;
	left: 123px;
	top: 54px;
}
.Icon_awesome-user-alt_Class {
	fill: rgba(132,132,132,1);
}
.Icon_awesome-user-alt {
	overflow: visible;
	position: absolute;
	width: 81.972px;
	height: 86.256px;
	left: 173.014px;
	top: 101.872px;
	transform: matrix(1,0,0,1,0,0);
}
.Benutzername_Class {
	left: 139px;
	top: 340px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: center;
	font-family: Coco Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(230,230,230,1);
}
.Lieblingsinstrument_Class {
	left: 118px;
	top: 435px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: center;
	font-family: Coco Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(230,230,230,1);
}
.Icon_awesome-arrow-alt-circle-_Class {
	fill: rgba(132,132,132,1);
}
.Icon_awesome-arrow-alt-circle- {
	overflow: visible;
	position: absolute;
	width: 34.875px;
	height: 34.875px;
	left: 19px;
	top: 19.125px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome-arrow-alt-circle-_bd_Class {
	position: absolute;
	width: 34.875px;
	height: 34.875px;
	left: 20px;
	top: 20px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Create_or_View_Map;
	cursor: pointer;
}
.Icon_awesome-arrow-alt-circle-_be_Class {
	fill: rgba(132,132,132,1);
}
.Icon_awesome-arrow-alt-circle-_be {
	overflow: visible;
	position: absolute;
	width: 34.875px;
	height: 34.875px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Create_or_View_Map;
	cursor: pointer;
}
.Icon_awesome-user-edit_Class {
	position: absolute;
	width: 42.807px;
	height: 34.18px;
	left: 380px;
	top: 20px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Name_und_Passwort_ndern__1;
	cursor: pointer;
}
.Icon_awesome-user-edit_bg_Class {
	fill: rgba(132,132,132,1);
}
.Icon_awesome-user-edit_bg {
	overflow: visible;
	position: absolute;
	width: 42.807px;
	height: 34.18px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Komponente_56__1_Class {
	position: absolute;
	width: 274px;
	height: 56px;
	left: 77px;
	top: 833px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: XMediathek-_List_View__3;
	cursor: pointer;
}
.Rechteck_79_Class {
	fill: rgba(28,28,28,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_79 {
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 56px;
	left: 0px;
	top: 0px;
}
.Loopmediathek_Class {
	left: 142px;
	top: 848px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: center;
	font-family: Coco Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(230,230,230,1);
}
@keyframes fadein {

	0% {
		opacity: 1;
	}
	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Profil__2_snapshot_Class {
	animation: fadein 5s linear 0s infinite;
	pointer-events: none;
	position: absolute;
	width: 428px;
	height: 926px;
	left: 0;
	top: 0;
}